*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#P-out,#PM-out,#CT-out,#out2,#Goback{
    display:none;
}

#Date{
     width: auto;
    height: auto;   
}
#Wall{
    background: white; 
    position: absolute;  
    width: 100%; 
    height: 100%;
    z-index: -1;
    }
#Content {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
}
#preload{overflow: hidden;background: white;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%;z-index: -5;animation-name: preload;animation-duration: 5s;}

#Resize{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    animation-name: preload;
    animation-duration: 5s;
}


#Logo{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 20%;
}
#GLogo{
    position: relative;
    transition: smooth;
    width: 80%;
    animation: rotate 2.6s infinite linear;
}
#gear-rotate{
    margin: 0;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-51%);
}

@keyframes preload {
    0%{
        z-index: -5;
    }
    50%{
        z-index: 5;
    }
    100%{
        z-index: -5;
    }
}


  
  @keyframes rotate{
      0%  {transform: rotate(0deg)}
      8.34%  {transform: rotate(30deg)}
      16.67%  {transform: rotate(60deg)}
      25%  {transform: rotate(90deg)}
      33.33%  {transform: rotate(120deg)}
      41.67%  {transform: rotate(150deg)}
      50%  {transform: rotate(180deg)}
      58.34%  {transform: rotate(210deg)}
      66.66%  {transform: rotate(240deg)}
      75% {transform: rotate(270deg)}
      83.34% {transform: rotate(300deg)}
      91.67%{transform: rotate(330deg)}
      100%  {transform: rotate(360deg)}
 }
form{
    background: white;
    position: relative;
    margin:0px 10%;
}

#title-logo{
    height: 70px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}
.note{
    background: #989b9c;
    position: relative;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-size: small;
}
table{
    height: auto;
    width: 100%;
    border: 2px solid #989b9c;
    border-radius:0 0 10px 10px;
    padding: 10px 5px;
}
table tr{
    height:25px;
    width:auto;
    text-align: left;
}
td:nth-child(odd){
    background-color: lightgray;
    border-radius: 5px;
    width: 30%;
}
table tr td{
    padding: 5px 5px;
    height:25px;
    width:auto;
    text-align: left;
}
table tr td input{
    height: 100%;
    width: 95%;
    margin: 1% 0;
}
table tr td select{
    height: 100%;
    width: 50%;
}
table tr td label{
    display: inline-block;
    width: auto;
    background: green;
    color: white;
    padding:2px 15px;
}

table tr td #RegisterId{
    height: 100%;
    width: auto;
    padding: 10px;
    background: rgb(136, 136, 136);
    border: 0px;
    font-weight: bold;
    border-radius: 5px;
}
#Goback{
    color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%,50%);
    background: rgb(136 136 136);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

table tr td #RegisterId:hover{
    cursor: pointer;
    color: white;
    background: rgb(44, 44, 44);
}

/*-------------------------           Responsive layout              ---------------------------------*/
@media screen and (max-width:767px)
{

    form{
        position: relative;
        margin: 5px 0.5%;
    }

    table{
        padding:5px;
    }
    table tr{
        display: flex;
        flex-direction: column;
        padding: 25px 0px;
        height: 25px;
        width: 100%;
        margin: 10px 0px;
    }
    table tr td input {
        height: 25px;
        width: 98%;
    }
    table tr td select {
        height: 30px;
        width: 80%;
        margin: 10px 0;
    }
    td:nth-child(odd) {
    width: auto;
    }
    table tr td #RegisterId {
    color:black;
    width: 100%;
    padding: 0;
    }
    #Resize{
    width: 80%;
    } 
}

@media screen and (min-width:767px) and (max-width:1023px)
{  

#Resize{
    width: 70%;
    }    
}

@media screen and (min-width:1023px)
{  

#Resize{
    width: 45%;
    }  
}
